<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="date"  name="date" id="date"value="">
        <button type="submit">Submit</button>
    </form>
    
    <div class="title">
        
    Date: <%= displayDate %>
    <%if(msg){%>
        <%=msg %>
    <%}%>
    <%if(title){%>
        Title: <%= title %>
        <%}%>
    </div>
    <% if(media_type=='image'){%>
        <img src="<%=url %>"style="width:300px" alt="image">
        <%}%>
    <% if(media_type=='video' ){%>
        <iframe width="450" height="400" src=<%=url %> frameborder="0"></iframe>
        <%}%>
    <div class="explanation">
       <% if(explanation){%>
        Explanation: <%= explanation %>
        <%}%>
    </div>
</body>
</html>